In [26]:
import pandas as pd

In [27]:
# hs list
high_schools=["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

school_series=pd.Series(high_schools)
for school in school_series:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [28]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [29]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df=pd.DataFrame(high_school_dicts)

In [30]:
#school type dict
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [31]:
# 3 separate info lists on hs
school_id=[0,1,2,3,4]

school_name= ["Huang High School", "Figueroa High School", "Shelton High School",
             "Hernandez High School", "Griffin High School"]

type_of_school= ["District", "District", "Charter", "District","Charter"]

In [32]:
# new dataframe
schools_df=pd.DataFrame()

schools_df["School ID"]= school_id

schools_df["School Name"]= school_name

schools_df["Type of School"]= type_of_school

schools_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [33]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
high_schools_dict =pd.DataFrame()
high_schools_dict

Empty DataFrame
Columns: []
Index: []

In [43]:
ID_list = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
name_list = ["Huang", "Figueroa","Shelton","Hernandez","Griffin",
            "Wilson","Cabrera","Bailey","Holden","Pena","Wright",
            "Rodriguez","Johnson","Ford","Thomas"]
type_list = ["D","D","C","D","C","C","C","D","C","C","C","D","D","D","C",]

jumbo_school_df = pd.DataFrame()
jumbo_school_df["School ID"]=ID_list
jumbo_school_df["School Name"]=name_list
jumbo_school_df["School Type"]=type_list
jumbo_school_df

    School ID School Name School Type
0           0       Huang           D
1           1    Figueroa           D
2           2     Shelton           C
3           3   Hernandez           D
4           4     Griffin           C
5           5      Wilson           C
6           6     Cabrera           C
7           7      Bailey           D
8           8      Holden           C
9           9        Pena           C
10         10      Wright           C
11         11   Rodriguez           D
12         12     Johnson           D
13         13        Ford           D
14         14      Thomas           C