In [1]:
import pandas as pd

In [2]:
# files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [5]:
# read data
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [11]:
# missing values?
school_data_df.count()
student_data_df.count()

school_data_df.isnull().sum
student_data_df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of        Student ID  student_name  gender  grade  school_name  reading_score  \
0           False         False   False  False        False          False
1           False         False   False  False        False          False
2           False         False   False  False        False          False
3           False         False   False  False        False          False
4           False         False   False  False        False          False
...           ...           ...     ...    ...          ...            ...
39165       False         False   False  False        False          False
39166       False         False   False  False        False          False
39167       False         False   False  False        False          False
39168       False         False   False  False        False          False
39169       False         False   False  False        False          False

       math_score
0           False
1           False
2           False
3           False
4           False
...           ...
39165       False
39166       False
39167       False
39168       False
39169       False

[39170 rows x 7 columns]>

In [12]:
# determine data types
school_data_df.dtypes
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [16]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# replace with empty space
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
student_data_df

C:\Users\kirwa\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75